@using System.Web.Optimization
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title - Heavy Rain</title>
    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    <meta charset="utf-8"/>
    
    @Styles.Render("~/Content/bootstrap")

</head>
<body>
    <header>
        
    </header>
    
    <div class="row">
        <section>
        
        </section>

    </div>
    
    <footer></footer>
</body>
</html>
    
    
