body {
    /*background-color: #E5E5E5;*/
    background-position: center top;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    background-image: url('Images/GirlRain.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
}    

#Main {
    background-color: #C8C8C8;
}

#Container {
    margin-top: 4%;
}

header.row {
    text-align: center;
    margin-bottom: 0;
}

#footer {
    background-color: #C8C8C8;
}

footer.row {
    margin-top: 0;
    text-align: right;
}

.menu {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul#menu {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 1.7%;
    padding-right: 1.7%;
}

ul#menu li a {
    background: none;
    color: #037176;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #038A92;
    text-decoration: none;
}

ul#menu li a.current {
    color: #038A92;
    text-decoration: none;
}

/*Site Structure*/

.row{
    margin-bottom: 20px;
}

#Gallery.row {
    margin-bottom: 0px;
}

.ColumnHeader {
    background: #111111;
    color: #DFDFDF;
}

.ColumnHeader h2, h3, h4 {
    margin-left: 15px;
    /*font-weight: normal*/
}