.list_carousel {
    float: left;
    width: 600px;
    margin-left: 15px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #eee;
	border: 5px solid #999;
	width: 115px;
	height: 180px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.caroufredsel_wrapper {
    float: left;
    height: 200px;
    width: 550px;
}

a.prev {
    float: left;
    width: 20px;
    height: 105px;
    padding-top: 100px;
    color: #C8C8C8;
    text-align: center;
    background-color: #292929;
    font-weight: bold;
}

a.next {
	float: left;
    width: 20px;
    height: 105px;
    padding-top: 100px;
    color: #C8C8C8;
    text-align: center;
    background-color: #292929;
    font-weight: bold;
}

.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0;
}
