@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div id="Row1" class="row">
    <section id="Contact" class="span12">
        <div class="row">
            <div class="span12 ColumnHeader">
                <h2>Contatos</h2>
            </div>
        </div>
    </section>


    <section id="Contact" class="span12">
        <div class="row">
            <div class="span12">
                <h3>Heavy Rain</h3>
                
                <p>
                    Tel: (21) 0000-9999
                    <br/>
                    E-Mail: heavyrain@hotmail.com
                </p>
            </div>
        </div>
    </section>
</div>