@using System.Web.Optimization
@{
    ViewBag.Title = "Home teste";
    Layout = "~/Views/Shared/_Master.cshtml";
}



<div class="row">
    <section class="span8">
        <div id="Gallery" class="row">
            <div id="GalleryLabel" class="row ColumnHeader">
                <h2>Fotos</h2>
            </div>
            <div id="GalleryContent" class="row" style="height: 200px;">
                
            </div>
        </div>
        
        <div id="News" class="row">
            <div id="NewsLabel" class="row ColumnHeader">
                <h2>Últimas notícias</h2>
            </div>
            <div id="NewsContent" class="row">
                
            </div>
        </div>
    </section>
	<section class="span4">
	    <div id="Musics" class="row">
            <div id="MusicsLabel" class="row ColumnHeader">
                <h2>Músicas</h2>
            </div>
            <div id="MusicsContent" class="row" style="height: 200px;">
                
            </div>
        </div>
	</section>
</div>

