@using System.Web.Optimization
@{
    ViewBag.Title = "Home teste";
    Layout = "~/Views/Shared/_Master.cshtml";
}



<div class="row">
	<section class="span8">
        <h2>Home</h2>		        
	</section>
	<section class="span4">
	    <h4>Ouça nossas músicas!!</h4>
	</section>
</div>


@Styles.Render("~/Content/bootstrap")

