@{
    ViewBag.Title = "Thaise Wolff";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div id="Row1" class="row">
    <section id="BandHeader" class="span12">
        <div class="row">
            <div class="span12 ColumnHeader">
                <h2>Thaise Wolff</h2>
            </div>
        </div>
    </section>
    <section id="BandBody" class="span12">
        <div class="row">
            <div class="span12">
                <div id="PicTha" class="Pic">
                </div>
                <div id="HistTha">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.<br/>
                        Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. <br/>
                        Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. <br/>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br/>
                        Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. <br/>
                        Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. <br/>
                        Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. <br/>
                        Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. <br/>
                        Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. <br/>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. 
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>